/*General*/
@use "./utilities/variables";
@use "sass:map";
@use "./utilities/maps" as mapa;
@use "./utilities/extend";
@use "./utilities/mixin";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-size: 20px;
    color: black;
    margin: 20px;
    padding: 20px;
    font-family: variables.$fuente;
}

header {
    text-align: center;
    padding: 10px;

    h1 {
        font-size: 35px;
        color: map.get(mapa.$colores, color1);
        display: flex;
        justify-content: center;
    }
}

.titulos {
    font-size: 25px;
    color: map.get(mapa.$colores, color1);
    text-transform: uppercase;
    @extend %flex;
}

h2 {
    color: map.get(mapa.$colores, color1);
    text-decoration: underline;
    font-weight: bold;
    @extend %flex;
}

.titulos2 {
    background-color: map.get(mapa.$colores, color2);
    border-radius: 10px;
    @extend %flex;
    margin: 10px;
    padding: 10px;
    transform: translateX(0px);
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(.06, .53, 1, -0, 16);

    &:hover {
        transform: scale(1.1)
    }
}


.navbar {
    background-color: map.get(mapa.$colores, color2);
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    &:hover { 
        color:map.get(mapa.$colores,color2);
}
}


main {
    .introduccion {
        @extend %flex;

        .inicio {
            display: grid;
            grid-template-rows: 1fr;
            justify-content: center;
            justify-items: center;
            align-items: center;
            gap: 10px;
            width: 100%;

            .img-fluid {
                display: flex;
                justify-content: center;
                @include mixin.tamaño(auto, 100%);
                border-radius: 10px;
                box-shadow: variables.$sombra;
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

    .pie {
        @include mixin.tamaño(20%, 100%);
        background-color: map.get(mapa.$colores, color2);
        border-radius: 10px;
        text-align: justify;
        margin-top: 20px;
        .link a {
            color: map.get(mapa.$colores, color1);
        }
    }


.datos {
    font-size: 25px;
    color: map.get(mapa.$colores, color1);
}

.botonenviar {
    background-color: variables.$boton
}