/*General*/
.nav-opciones a, .producto, .card, .titulos, h2, .titulos2, main .introduccion {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  color: black;
  margin: 20px;
  padding: 20px;
  font-family: "Nunito", sans-serif;
}

header {
  text-align: center;
  padding: 10px;
}
header h1 {
  font-size: 35px;
  color: darkmagenta;
  display: flex;
  justify-content: center;
}

.titulos {
  font-size: 25px;
  color: darkmagenta;
  text-transform: uppercase;
}

h2 {
  color: darkmagenta;
  text-decoration: underline;
  font-weight: bold;
}

.titulos2 {
  background-color: rgb(241, 190, 216);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  transform: translateX(0px);
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.06, 0.53, 1, 0, 16);
}
.titulos2:hover {
  transform: scale(1.1);
}

.navbar {
  background-color: rgb(241, 190, 216);
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}
.navbar:hover {
  color: rgb(241, 190, 216);
}

main .introduccion .inicio {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
main .introduccion .inicio .img-fluid {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.pie {
  height: 20%;
  width: 100%;
  background-color: rgb(241, 190, 216);
  border-radius: 10px;
  text-align: justify;
  margin-top: 20px;
}
.pie .link a {
  color: darkmagenta;
}

.datos {
  font-size: 25px;
  color: darkmagenta;
}

.botonenviar {
  background-color: rgb(212, 149, 212);
}

.card {
  height: auto;
  width: auto;
  justify-items: center;
  background-color: #f1e9e0;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
  overflow: hidden;
}
.card:hover {
  transform: scale(1.01);
}
.card .card-img-top {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.card .btn-primario {
  background-color: rgb(212, 149, 212);
  border-color: #f1e9e0;
}
.card .btn-primario:hover {
  background-color: rgb(186, 88, 186);
}
.card .card-body {
  text-align: center;
  padding: 20px;
}
.card .card-text {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

@media (max-width: 479px) {
  .d-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
    justify-items: center;
  }
}
@media (max-width: 479px) {
  .grilla {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
    justify-items: center;
    justify-content: center;
  }
  .grilla .card {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  .quienessomos {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 15px;
  }
  .imagenferia {
    width: 100% !important;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .imagenferia img {
    width: 100%;
    height: auto;
  }
  .textoquienessomos {
    width: 100% !important;
    padding: 10px;
  }
}
/* .nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(241, 190, 216);
}
.nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-left: auto;
    padding: 0;
} */

.nav-opciones a {
  background-color: #f1e9e0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
  row-gap: 20px;
  column-gap: 20px;
}
.nav-opciones a:hover {
  transform: scale(1.01);
  color: rgb(241, 190, 216);
}
.nav-opciones a:hover .nav-link {
  color: darkmagenta;
}

.producto {
  color: darkmagenta;
  text-decoration: underline;
}

.nav-link {
  color: darkmagenta;
}

.grilla {
  display: grid;
  width: 100%;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.grilla .grilla img:hover {
  transform: scale(1.01);
}

.gap-3 {
  display: flex;
  justify-content: center;
}

.cursos {
  background-color: #f1e9e0;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
}

.testimonios p {
  font-style: italic;
  width: 100%;
  text-align: center;
}

.quienessomos {
  background-color: #f1e9e0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  gap: 40px;
  padding: 20px;
}
.quienessomos .imagenferia {
  width: 100%;
}
.quienessomos .imagenferia img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.quienessomos .textoquienessomos {
  width: 50%;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
